In [18]:
import pandas as pd

In [19]:
x = pd.Series([1, 2, 3, 4, 5])

In [20]:
x

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [21]:
x[4]

5

In [22]:
x.index

RangeIndex(start=0, stop=5, step=1)

In [23]:
data = [1, 2, 3, 4, 5, 6, 2, 9]
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

pList = pd.Series(data, index)
pList

a    1
b    2
c    3
d    4
e    5
f    6
g    2
h    9
dtype: int64

In [24]:
my_list = [-3, 2, 5, -1]
obj2 = pd.Series(my_list, ['a', 'b', 'c', 'd'])
obj2

a   -3
b    2
c    5
d   -1
dtype: int64

In [25]:
obj2['a':'c']

a   -3
b    2
c    5
dtype: int64

In [26]:
names = ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat']
hrs_study = [5, 4, 3, 3, 4, 5, 0]

study_series = pd.Series(hrs_study, names)

In [27]:
study_series

sun    5
mon    4
tue    3
wed    3
thu    4
fri    5
sat    0
dtype: int64

In [28]:
study_series['mon':'fri'].sum()

19

In [29]:
study_series > 3

sun     True
mon     True
tue    False
wed    False
thu     True
fri     True
sat    False
dtype: bool

In [30]:
study_series[study_series > 3]

sun    5
mon    4
thu    4
fri    5
dtype: int64

In [33]:
study_series.max()

5

In [34]:
2 * study_series

sun    10
mon     8
tue     6
wed     6
thu     8
fri    10
sat     0
dtype: int64

In [38]:
x = [1, 2, 3, -3]
pd.Series(x)

0    1
1    2
2    3
3   -3
dtype: int64

In [36]:
x = [1, 2, 3, 'hello', -3]
pd.Series(x, dtype='int')

ValueError: invalid literal for int() with base 10: 'hello'

In [37]:
import numpy as np

In [39]:
np.sin(x)

array([ 0.84147098,  0.90929743,  0.14112001, -0.14112001])

In [41]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
dict2 = {'a': 5, 'b': 6, 'c': 7, 'd': 8, 'e': 9}

In [42]:
data = {'first': dict1, 'second': dict2}
df = pd.DataFrame(data)
df

   first  second
a    1.0       5
b    2.0       6
c    3.0       7
d    4.0       8
e    NaN       9

In [47]:
df['first']['d']

4.0

In [48]:
df.loc['d']

first     4.0
second    8.0
Name: d, dtype: float64

In [52]:
df.loc['d'].second

8.0

In [53]:
df.iloc[0]

first     1.0
second    5.0
Name: a, dtype: float64

In [55]:
month = ['Jan', 'Feb', 'Mar']
temp = [-12, 7, 10]
humidity = [23, 30, 33]

In [56]:
df = pd.DataFrame([month, temp, humidity])
df

     0    1    2
0  Jan  Feb  Mar
1  -12    7   10
2   23   30   33

In [57]:
df[0]

0    Jan
1    -12
2     23
Name: 0, dtype: object

In [58]:
df = pd.DataFrame([temp, humidity], columns=[month])
df

  Jan Feb Mar
0 -12   7  10
1  23  30  33

In [59]:
df['Jan']

  Jan
0 -12
1  23

In [60]:
df[0]

KeyError: 0

In [62]:
df = pd.DataFrame(zip(temp, humidity))
df

    0   1
0 -12  23
1   7  30
2  10  33

In [64]:
df.columns = [['temp', 'humidity']]
df

  temp humidity
0  -12       23
1    7       30
2   10       33

In [65]:
df = pd.DataFrame(zip(temp, humidity), index=[month], columns=['temp', 'humidity'])
df

     temp  humidity
Jan   -12        23
Feb     7        30
Mar    10        33

In [77]:
df['temp'].iloc[1:3]

Feb     7
Mar    10
Name: temp, dtype: int64

In [78]:
df.head()

     temp  humidity
Jan   -12        23
Feb     7        30
Mar    10        33

In [79]:
df.describe()

            temp   humidity
count   3.000000   3.000000
mean    1.666667  28.666667
std    11.930353   5.131601
min   -12.000000  23.000000
25%    -2.500000  26.500000
50%     7.000000  30.000000
75%     8.500000  31.500000
max    10.000000  33.000000

In [80]:
df.isnull()

      temp  humidity
Jan  False     False
Feb  False     False
Mar  False     False

In [81]:
df.isnull().sum()

temp        0
humidity    0
dtype: int64